{:linters {:aliased-namespace-symbol {:level :warning}
           :discouraged-var
           {clojure.core/concat {:message "Please use 'into' instead https://tinyurl.com/clj-into"}}
           :dynamic-var-not-earmuffed {:level :warning}
           :invalid-arity {:level :warning}
           :private-call {:level :warning}
           :shadowed-var {:level :warning}
           :unsorted-required-namespaces {:level :warning}
           :unresolved-symbol {:level :warning}
           :unused-binding {:exclude-destructured-as true}
           :used-underscored-binding {:level :warning}
           :warn-on-reflection {:level :warning}}
 :debug true
 :hooks {:macroexpand {metrics.histograms/defhistogram metrics.histograms/defhistogram}}}
